$color1: #cdb4db;
$color2: #c7afe9;
$color3: #bda7e7;
$sky-blue: #bde0fe;
$light-blue: #a2d2ff;
$alice-blue: #f0f8ff;
$mint-cream: #f5fffa;
$ghost-white: #f8f8ff;
$dark-blue: #165b9c;
$coal: #060607;
$blueish-black: #000F1E;

$ipad-breakpoint: 768px;