$color1: #cdb4db;
$color2: #ba9ee2;
$color3: #d15b73;
$sky-blue: #def0ff;
$light-blue: #a2d2ff;
$alice-blue: #f4faff;
$mint-cream: #f5fffa;
$ghost-white: #f8f8ff;
$dark-blue: #165b9c;
$coal: #060607;
$grey: rgb(55, 69, 92);
$blueish-black: #000F1E;
$blueish-black-transparent: #000f1edd;


$ipad-breakpoint: 768px;