@import '../utils/variables';
@import '../utils/mixins.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 300px;
  background-color: $alice-blue;

  .card-body {
    padding: 2rem;
  }
  .signup-link {
    text-decoration: none;
  }
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: $dark-blue;
  font-weight: bold;
}

.form-label {
  color: $dark-blue;
}

.form-control {
  border-color: $dark-blue;
  
  &:focus {
    border-color: $blueish-black;
    box-shadow: 0 0 0 0.2rem rgba($blueish-black, 0.25);
  }
}

@include spinner