@import "../utils/variables.scss";


.navbar {
  background-color: $blueish-black;

  .navbar-brand,
  .navbar-nav .nav-link {
    color: $alice-blue;

    &:hover {
      color: $dark-blue;
    }
  }

  .navbar-toggler-icon {
    &::before,
    &::after,
    & div {
      background-color: white;
    }
  }

  .form-inline {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .form-control {
    margin-right: 5px;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}