@import "../utils/variables.scss";

.navbar {
  background-color: $blueish-black;

  .navbar-brand,
  .navbar-nav .nav-link {
    color: $alice-blue;

    &:hover {
      color: $dark-blue;
    }
  }

  .custom-toggler {
    border-color: $alice-blue;
    border: none;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(240, 248, 255, 0.95)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}

.custom-offcanvas {
  background-color: $blueish-black-transparent;
  color: $alice-blue;

  .custom-offcanvas-header {
    .btn-close {
      filter: invert(1) grayscale(100%) brightness(200%);
    }
  }

  .nav-link {
    color: $alice-blue;

    &:hover {
      color: $dark-blue;
    }
  }
}